<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  <input type="username" name="name">
  <input type="password" name="password">
  <input type="email" name="email">
  <input type="submit" id="submit">
</form>
